body{

font-family:'Source Sans 3', sans-serif;

background:#0f0f1a;

color:white;

margin:0;

}


.navbar{

display:flex;

justify-content:space-between;

padding:20px;

background:#111;

}


.navbar ul{

display:flex;

gap:20px;

list-style:none;

}


.navbar a{

color:white;

text-decoration:none;

}


#hero{

text-align:center;

padding:150px 20px;

}


.btn{

background:linear-gradient(135deg,#667eea,#764ba2);

padding:12px 25px;

border-radius:30px;

text-decoration:none;

color:white;

}


section{

padding:80px 20px;

max-width:900px;

margin:auto;

}


.project{

background:#1e1e2f;

padding:20px;

margin-top:20px;

border-radius:10px;

}
